In [11]:
import pandas as pd 
df = pd.read_csv('stock fundamental data.csv')
df.head()

,gvkey,ticker,fyear,currency,Total Current Assets,Accounts Payable,Total Assets,Total Common/Ordinary Equity,Cash and Short-Term Investments,Cost of Goods Sold,...,Special Items,Income Taxes Payable,Total Income Taxes,Advertising Expense,Extraordinary Items and Discontinued Operations,Total Interest and Related Expense,Research and Development Expense,"Selling, General and Administrative Expense",costat,Total Market Value
0,1004,AIR,2009.0,USD,863.429,114.906,1501.042,746.906,79.370,1065.902,...,-4.302,3.263,20.986,NaN,0.000,26.832,NaN,151.904,A,777.8348
1,1004,AIR,2010.0,USD,913.985,185.096,1703.727,835.845,57.433,1408.071,...,-1.536,0.000,35.364,NaN,-3.313,30.670,NaN,171.399,A,1049.8206
2,1004,AIR,2011.0,USD,1063.272,201.405,2195.653,864.649,67.720,1662.408,...,-13.864,0.000,25.480,NaN,0.000,37.772,NaN,189.397,A,485.2897
3,1004,AIR,2012.0,USD,1033.700,149.300,2136.900,918.600,75.300,1714.500,...,-21.100,0.000,26.700,NaN,0.000,41.600,NaN,207.400,A,790.0029
4,1004,AIR,2013.0,USD,1116.900,171.100,2199.500,999.500,89.200,1581.400,...,0.000,0.000,32.100,NaN,0.000,42.000,NaN,197.600,A,961.3080

In [12]:
df.shape

(50560, 35)

In [13]:
df.isnull().sum()

gvkey                                                  0
ticker                                                 0
fyear                                                 51
currency                                              51
Total Current Assets                               21788
Accounts Payable                                   10863
Total Assets                                        6722
Total Common/Ordinary Equity                        6843
Cash and Short-Term Investments                    13777
Cost of Goods Sold                                 13868
Total Debt in Current Liabilities                   7086
Current Debt Changes                               31465
Total Long-Term Debt                                6884
Depreciation and Amortization                       9347
Dividends Common/Ordinary                           7149
Income Before Extraordinary Items                   6821
Total Intangible Assets                             7427
Total Inventories                                  12160
Investments and Advances                           15275
Total Current Liabilities                          21720
Total Liabilities                                   6792
Nonoperating Income (expense)                      17628
Total Property, Plant and Equipment                 8714
Total Receivables                                  14032
Net Sales/Turnover                                 13865
Special Items                                       7300
Income Taxes Payable                               15200
Total Income Taxes                                  6826
Advertising Expense                                35615
Extraordinary Items and Discontinued Operations     6821
Total Interest and Related Expense                 12512
Research and Development Expense                   31021
Selling, General and Administrative Expense        19673
costat                                                 0
Total Market Value                                 14697
dtype: int64

In [20]:
df['ratio']=df['Total Current Assets']/df['Total Current Liabilities']

In [21]:
df=df.fillna(0)
df.head()

,gvkey,ticker,fyear,currency,Total Current Assets,Accounts Payable,Total Assets,Total Common/Ordinary Equity,Cash and Short-Term Investments,Cost of Goods Sold,...,Income Taxes Payable,Total Income Taxes,Advertising Expense,Extraordinary Items and Discontinued Operations,Total Interest and Related Expense,Research and Development Expense,"Selling, General and Administrative Expense",costat,Total Market Value,ratio
0,1004,AIR,2009.0,USD,863.429,114.906,1501.042,746.906,79.370,1065.902,...,3.263,20.986,0.0,0.000,26.832,0.0,151.904,A,777.8348,2.652216
1,1004,AIR,2010.0,USD,913.985,185.096,1703.727,835.845,57.433,1408.071,...,0.000,35.364,0.0,-3.313,30.670,0.0,171.399,A,1049.8206,2.197027
2,1004,AIR,2011.0,USD,1063.272,201.405,2195.653,864.649,67.720,1662.408,...,0.000,25.480,0.0,0.000,37.772,0.0,189.397,A,485.2897,2.246859
3,1004,AIR,2012.0,USD,1033.700,149.300,2136.900,918.600,75.300,1714.500,...,0.000,26.700,0.0,0.000,41.600,0.0,207.400,A,790.0029,2.657326
4,1004,AIR,2013.0,USD,1116.900,171.100,2199.500,999.500,89.200,1581.400,...,0.000,32.100,0.0,0.000,42.000,0.0,197.600,A,961.3080,2.777667

In [22]:
df.isnull().sum()

gvkey                                              0
ticker                                             0
fyear                                              0
currency                                           0
Total Current Assets                               0
Accounts Payable                                   0
Total Assets                                       0
Total Common/Ordinary Equity                       0
Cash and Short-Term Investments                    0
Cost of Goods Sold                                 0
Total Debt in Current Liabilities                  0
Current Debt Changes                               0
Total Long-Term Debt                               0
Depreciation and Amortization                      0
Dividends Common/Ordinary                          0
Income Before Extraordinary Items                  0
Total Intangible Assets                            0
Total Inventories                                  0
Investments and Advances                           0
Total Current Liabilities                          0
Total Liabilities                                  0
Nonoperating Income (expense)                      0
Total Property, Plant and Equipment                0
Total Receivables                                  0
Net Sales/Turnover                                 0
Special Items                                      0
Income Taxes Payable                               0
Total Income Taxes                                 0
Advertising Expense                                0
Extraordinary Items and Discontinued Operations    0
Total Interest and Related Expense                 0
Research and Development Expense                   0
Selling, General and Administrative Expense        0
costat                                             0
Total Market Value                                 0
ratio                                              0
dtype: int64

In [23]:
df.to_csv('Stocks.csv')